model_config_list {
    config {
        name: 'half_plus_two'
        base_path: '/models/saved_model_half_plus_two_main_op/'
        model_platform: "tensorflow"
    }
    config {
        name: 'half_plus_three'
        base_path: '/models/saved_model_half_plus_three_main_op/'
        model_platform: "tensorflow"
    }
}
